@{
    ViewBag.Title = "O nama";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>E-Routing je servis za cestovnu navigaciju koji prilikom određivanja optimalne rute vožnje uračunava i trenutno stanje na putevima, tj. zastoje, saobraćajne nesreće i slične okolnosti koristeći informacije sa lica mjesta. Korisnici svojim dojavama obavještavaju o trenutnim događajima koji postaju vidljivi svim ostalim korisnicima.</p>

