@{
    ViewBag.Title = "Kontakt osobe: ";
}
<h2>@ViewBag.Title</h2>

<address>
   Envera Husagić: ehusagic1@etf.unsa.ba
</address>
<address>
	Naida Hanjalić: nhanjalic1@etf.unsa.ba
</address>
<address>
	Mirza Delibašić: mdelibasic1@etf.unsa.ba
</address>
